# LLM API keys
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# Solo Enterprise license keys
ENTERPRISE_AGENTGATEWAY_LICENSE_KEY=
ENTERPRISE_KGATEWAY_LICENSE_KEY=
ENTERPRISE_KAGENT_LICENSE_KEY=

# Solo Enterprise versions
ENTERPRISE_AGENTGATEWAY_VERSION=2.2.0-beta.4
ENTERPRISE_KGATEWAY_VERSION=2.1.2
ENTERPRISE_KAGENT_VERSION=0.3.11
